{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div id="premios">
            <h1 class="text-center">PRÊMIOS E RECONHECIMENTOS</h1>
            <br>
            <img src="{% static 'img/medalha.png' %}" style="margin-left: 48%" alt="Medalha">
            <div class="frase-reconhecimento">
                <p>
                    A Instituição é altamente reconhecida por sua atuação no mercado da educação,
                    o que comprova o compromisso da Instituição com o ensino de qualidade e a dedicação do
                    Grupo em transformar a sociedade através da tecnologia. Desta maneira,
                    ao longo dos anos a Faculdade tem recebido prêmios e reconhecimentos que são
                    resultados do trabalho contínuo de professores e funcionários e da determinação de seus
                    alunos.
                </p>
            </div>
            <br>
            <br>
            <div class="linha">
                <div class="col-md-4">
                    <img class="img-centro" src="{% static 'img/premios.png' %}" alt="Prêmios">
                    <br>
                    <h2>MAIOR NOTA ENADE</h2>
                </div>
                <div class="col-md-4">
                    <img class="img-centro" src="{% static 'img/premios.png' %}" alt="Prêmios">
                    <br>
                    <h2>MAIOR NOTA ENADE/MEC</h2>
                </div>
                <div class="col-md-4">
                    <img class="img-centro" src="{% static 'img/premios.png' %}" alt="Prêmios">
                    <br>
                    <h2>TOP 10 ENADE/MEC</h2>
                </div>
            </div>
        </div>

        <hr>

        <div id="noticias">
            <h1 class="text-center">Notícias</h1>
            <div class="linha">
                <div class="col-md-4">
                    <img src="{% static 'img/noticia1.png' %}" alt="Estudar" width="350" height="200px">
                    <p>Saiba como ter foco para estudar.</p>
                    <a href="#">Ver Mais</a>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/noticia2.png' %}" alt="Estudar" width="350" height="200px">
                    <p>Saiba como ganhar dinheiro.</p>
                    <a href="#">Ver Mais</a>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/noticia3.png' %}" alt="Estudar" width="350" height="200px">
                    <p>Saiba como ser mais produtivo.</p>
                    <a href="#">Ver Mais</a>
                </div>
            </div>
        </div>

        <hr>

        <div id="depoimentos">
            <h1 class="text-center">Depoimentos</h1>
            <div class="linha">
                <div class="col-md-4">
                    <p class="depoimento">"Faculdade muito boa, professores excelentes e comida muito boa."</p>
                    <div class="linha">
                        <div class="col-md-3"><img src="{% static 'img/user.png' %}" alt="Aluno"></div>
                        <div class="col-md-9"><p><strong>Nicolas Rezende</strong></p></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="depoimento">"Infraestrutura muito boa, atendimento excelente e professores super capacitados."</p>
                    <div class="linha">
                        <div class="col-md-3"><img src="{% static 'img/user.png' %}" alt="Aluno"></div>
                        <div class="col-md-9"><p><strong>João Silva</strong></p></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="depoimento">"Ensino nota 10, direção super preocupada com o ensino."</p>
                    <div class="linha">
                        <div class="col-md-3"><img src="{% static 'img/user.png' %}" alt="Aluno"></div>
                        <div class="col-md-9"><p><strong>Ana Julia</strong></p></div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}