body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
            
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E90FF;
}

ul.menu li {float: left;}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

ul.menu li a:hover:not(.active) {
    color: #1E90FF;
    background-color: white;
}

ul.menu li.right {float: right;}

@media screen and (max-width: 600px){
    ul.menu li.right, 
    ul.menu li {float: none;}
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F4F4F;
    color: white;
    height: 100%;
    display: block;
}

footer div {
    margin-bottom: 20px;
}

.conteudo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .conteudo {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .conteudo {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .conteudo {
        width: 1170px;
    }
}
.conteudo-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.conteudo h1 {
    font-size: 25px;
    color: #1523B2;
}

.linha {
    /* margin-right: -15px;
    margin-left: -15px; */
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
}

.sociais {
    color: #00008B;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

#premios {
    margin-bottom: 50px;
}

#premios h2 {
    color: #E1BA0C;
    text-align: center;
}

.frase-reconhecimento {
    width: 65%;
    margin: auto;
}

.frase-reconhecimento p {
    line-height: 1.7;
    text-align: justify;
}

.img-centro {
    margin-left: 30%;
}

#noticias {
    margin-top: 30px;
    margin-bottom: 30px;
}

#noticias p {
    font-weight: bold;
}

#noticias a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

#noticias a:hover{
    text-decoration: underline;
}

#depoimentos {
    margin-top: 30px;
    margin-bottom: 50px;
}

.depoimento{
    font-style: italic;
}


.img-cursos {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: black 2px solid;
}

.cursos {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.cursos:hover {
    background-color: #1E90FF;
}

.cursos a {
    text-decoration: none;
    color: #1523B2;
}

.cursos a:hover {
    color: white;
}

.link-matriz {
    color: #1E90FF;
}

.disciplina {
    border: #1E90FF 1px solid;
    background-color: #1E90FF;
    width: 100%;
    height: 100px;
    padding: 0 5px 0 5px;
    text-align: center;
    color: white;
    font-size: 13px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disciplina:hover {
    background: white;
    color: #1E90FF;
    border: #1E90FF 2px solid;
}

.link-disciplina {
    text-decoration: none;
}

.login {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    border-radius: 4px;
    box-shadow: 1px 3px 1px 3px white;
    padding: 3px 5px 3px 5px;
    margin-top: 10%;
}

.login h1 {
    text-align: center;
    color: #1E90FF;
}

.form-grupo {
    margin: 20px 20px 0 20px;
}

.form-grupo label {
    font-weight: bold;
    margin-left: 1%;
}

.form-grupo input, select {
    width: 100%;
    height: 30px;
    border: gray 2px solid;
    border-radius: 5px;
    padding: 5px;
}

.form-grupo textarea {
    width: 100%;
    height: 100%;
    border: gray 2px solid;
    border-radius: 5px;
    padding: 5px;
}

.form-grupo input,textarea, select {
    outline: 0;
}

.btn {
    cursor: pointer;
    /* height: 30px; */
    background-color: #1E90FF;
    border: 1px #1E90FF solid;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.form {
    margin: 0 auto;
    width: 80%;
}

.btn-login {
    margin-left: 35%;
    width: 100px;
}

.checkbox {
    margin-top: 20px;
}

.matricula {
    color: #1E90FF;
}

.alunos {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.alunos {
    background: #fff;
    /* border-top: 1px solid #a5a5a5; */
    border-bottom: 1px solid #a5a5a5;
}
/* tr:hover {
    background-color:#3d80df;
    color: #fff;
} */

.alunos tr:hover {
    background-color: transparent;
    color: inherit;
}

.alunos tr:nth-child(even) {
    background-color: #ddd;
}

.alunos th {
    font-weight: bold;
    text-align: left;
}

.alunos th, td {
    padding: 12px;
}

.alunos tr {
    border-top: 1px solid #a5a5a5;
}

.aprovado {
    font-weight: bold;
    color: green;
}

.cancelado {
    font-weight: bold;
    color: red;
    margin-left: 10px;
}

.clearfix:before,
.clearfix:after,
.conteudo:before,
.conteudo:after,
.conteudo-fluid:before,
.conteudo-fluid:after,
.linha:before,
.linha:after {
    display: table;
    content: " ";
}

.clearfix:after,
.conteudo:after,
.conteudo-fluid:after,
.linha:after {
    clear: both;
}
#detailssystem{
    text-align: justify;
}
.textSystem{
    text-align: center;
    color:#1E90FF;
    font-size: 20px;
}
#line{
    color: #1E90FF;
}
.detailscurso{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1E90FF;
}
.Titles{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2F4F4F;
}
.detailsDisc{
    background-color: #1E90FF;
    padding: 2px;
    border-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: antiquewhite;
}
.ast{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
}

.botao {
    background-color: #1E90FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}