{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>LMS - Home</title>
</head>
<body>

    <nav>
        <ul class="menu">
            <li>&nbsp;&nbsp;&nbsp;</li>
            <li><a href="index.html">LMS</a></li>
            <li><a href="{% url 'contas:lista-alunos' %}">Aluno</a></li>
            <li><a href="{% url 'contas:lista-coordenadores' %}">Coordenador</a></li>
            <li><a href="{% url 'contas:lista-professores' %}">Professor</a></li>
            <li><a href="{% url 'contas:lista-mensagens' %}">Mensagem</a></li>
            <li><a href="novo-curso.html">Novo Curso</a></li>
            <li><a href="nova-disciplina.html">Nova Disciplina</a></li>
            <li><a href="aluno.html">Novo Aluno</a></li>
            <li><a href="matricula.html">Matrícula</a></li>
            <li class="right"><a href="login.html" target="_blank">Login</a></li>
            <li class="right">&nbsp;</li>
        </ul>
    </nav>

    <div class="conteudo">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <div>
            <div class="linha">
                <div class="col-md-4">
                    <h1>LMS</h1>
                    <p class="sociais">Siga a gente nas redes sociais</p>
                    <img src="img/facebook.png" alt="Facebook">
                    <img src="img/twitter.png" alt="Twitter">
                    <img src="img/linkedin.png" alt="Linkedin">
                    <img src="img/instagram.png" alt="Instagram">
                    <p>Todos os direitos reservados.</p>
                </div>
                <div class="col-md-4">
                    <h2>Contato</h2>
                    <p><strong>Telefone</strong></p>
                    <p>(11) 4141-4141</p>
                    <p><strong>Endereço</strong></p>
                    <p>Rua X, 44 - Bairro Y - Cidade Z / SP </p>
                </div>
                <div class="col-md-4">
                    <h2>Atendimento</h2>
                    <p>De Segunda a Sexta - Das 8h ás 22h</p>
                </div>

            </div>
        </div>
    </footer>
<script src="{% static 'js/alunos.js' %}"></script>
</body>
</html>